@tailwind base;
@tailwind components;
@tailwind utilities;

.ReactVirtualized__Table__headerColumn {
  font-weight: 400 !important;
}
.ReactVirtualized__Table__headerRow {
  border-bottom: 1px solid #013926;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background: transparent; /* or any other color */
}

::-webkit-scrollbar-thumb {
  background: #d0d6d4; /* or any other color */
  border-radius: 4px;
  height: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #08a36f; /* or any other color */
}

/* Customize scrollbar for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #08a36f #d0d6d4;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
